#monBtn {
    -fx-background-image: url("/img/unpressed.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-pref-width: 200px;
    -fx-pref-height: 200px;
}

#monBtn:pressed{
    -fx-background-image: url("/img/pressed.jpg");
}